name: AWS Deploy

on:
  push:
    branches:
      - "main"
  workflow_run:
    workflows: ["test"]
    types:
      - completed

jobs:
  deploy-ec2:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment:
      name: aws
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Deploy to EC2 (bare minimum)
        run: |
          echo "Deploying to EC2 instance..."
