name: Deploy to Koyeb

on:
  push:
    branches:
      - "main"
  workflow_run:
    workflows: ["test"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment:
      name: production
    env:
      KOYEB_API_TOKEN: ${{ secrets.KOYEB_API_TOKEN }}
    steps:
      - name: Deploy
        run: |
          curl -fsSL https://raw.githubusercontent.com/koyeb/koyeb-cli/master/install.sh | sh
          export PATH=$HOME/.koyeb/bin:$PATH
          koyeb services redeploy sirius-crm/sirius-crm-server --token $KOYEB_API_TOKEN
          koyeb services update sirius-crm/sirius-crm-server --git-sha ${{ github.sha }} --token $KOYEB_API_TOKEN
